body{
     font: 15px/1.5 Arial, Helvetica,sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}


/* Header **/
header{
    background: #499de6;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: 3px solid black;
    color: white;
}

footer{
   background-color: aqua;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    color: black;
}
